nav.navbar
    div.max-width
        div.logo
            a(href="#") portfolyo
                span m
        ul.menu
            li
                a(href='#') anasayfa
            li
                a(href='#') hakkımda
            li
                a(href='#') yeteneklerim
            li
                a(href='#') iletişim
        div.menu-btn
            i.fas.fa-bars
append styles
    link(rel="stylesheet" href='/stylesheets/navbar.css')
