nav.navbar
    div.max-width
        div.logo
            a(href="#") portfolyo
                span m
        ul.menu
            li
                a(href='#home').menu-link anasayfa
            li
                a(href='#about').menu-link hakkımda
            li
                a(href='#skills').menu-link becerilerim
            li
                a(href='#contact').menu-link iletişim
        div.menu-btn
            i.fas.fa-bars
append styles
    link(rel="stylesheet" href='/stylesheets/navbar.css')
