append styles
    link(rel="stylesheet" href='/stylesheets/about-section.css')

section#about.about
    div.max-width
        h2.title hakkımda
        div.about-content
            div.column.left
                img(src="images/pic-me.jpg")
            div.column.right
                h3 ben İbrahim,
                    span  öğrenciyim
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid explicabo libero maxime natus nemo, nisi non nulla quae, quidem ratione rerum sint vel! Commodi error optio quaerat voluptates? Consectetur iusto magni natus numquam rerum. Asperiores debitis explicabo illo laborum nam numquam repellendus. Alias, aliquid laboriosam magni non ratione tempore.
                a.down-cv CV


//  https://www.youtube.com/watch?v=tcskp-ncN0I&t=2478s