append styles
    link(rel="stylesheet" href='/stylesheets/contact-section.css')

section#contact.contact
    h2.title Benimle iletişime geçin
    div.max-width
        div.contact-icons
            a(href="https://www.linkedin.com/in/ibrahim-sabit-kaya-43744b158/")
                i.fab.fa-linkedin
            a(href="mailto:ibrahimsabitkaya@gmail.com")
                i.fas.fa-envelope
            a(href="https://github.com/engKaya")
                i.fab.fa-github