append styles
    link(rel="stylesheet" href='/stylesheets/home-section.css')

section#home.home
    div.max-width
        div.home-content
            div.text-1 merhaba benim adım
            div.text-2 İbrahim Sabit KAYA
            div.text-3 ve ben bir genç
                span  geliştiriciyim