append styles
    link(rel="stylesheet" href='/stylesheets/skills-section.css')

section#skills.skills
    div.max-width
        h2.title becerilerim
        div.skills-content
            div.column.left
                h3.text Yeteneklerim
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque labore molestiae natus obcaecati vel. Cum esse exercitationem explicabo officiis placeat, porro quos ratione velit? Aliquam autem blanditiis corporis dolor dolorem, dolorum eius eligendi ex ipsam iste magnam necessitatibus nesciunt, odit officia optio pariatur provident quaerat qui reiciendis, sed sint sunt tempore vel? Adipisci assumenda at consequuntur est impedit nisi porro.
            div.column.right
                div.bars
                    div.info
                        span html
                        span  75%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span pug
                        span  65%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span css
                        span  50%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span c++
                        span  50%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span c#
                        span  60%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span react
                        span  50%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span react-native
                        span  60%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span Javascript
                        span  60%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span mssql
                        span  70%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span mongodb
                        span  70%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span python
                        span  50%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span keras
                        span  40%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span blender
                        span  60%
                    div.line
                        div.percent
                div.bars
                    div.info
                        span unity
                        span  60%
                    div.line
                        div.percent