@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin:auto;
}


section .title{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  color: #1A1A1A;
  margin-bottom: 60px;
  padding-bottom:20px;
  z-index: 2;
}

section .title::before{
  content: "";
  bottom:0;
  left: 50%;
  position: absolute;
  width: 180px;
  height: 3px;
  background: #1A1A1A;
  transform: translateX(-50%);
}


section .title::after{
  content: "ben kimim?";
  bottom:-15px;
  left: 50%;
  font-size:20px;
  position: absolute;
  padding: 5px;
  color: #1a1a1a;
  background: #ffecd8;
  transform: translateX(-50%);
}

.to-up {
  position: fixed;
  width: 50px;
  height:50px;
  text-align: center;
  line-height:50px;
  background: crimson;
  right: 25px;
  bottom: 25px;
  border-radius:50%;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 99;
}

.to-up.show {
  opacity: 1;
}

.to-up.show:hover {
  cursor: pointer
}

/* responsive media quaries*/

@media (max-width: 800px) {
  .max-width {
    padding: 0 50px;
  }
}