extends ../layout


block content
  include ../sections/home-section
  include ../sections/about-section
  include ../sections/skills-section
  include ../sections/contact-section
append scripts
  script(src="/javascripts/script.js")