extends ../layout


block content
  include ../sections/home-section

  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet asperiores aut consequatur consequuntur debitis eaque earum esse et id in ipsa laboriosam laudantium mollitia nam neque nobis officia omnis possimus provident, quis reiciendis repellat reprehenderit sunt unde veniam vitae voluptates. Alias animi asperiores atque autem consequuntur dolorem dolores enim, esse eveniet excepturi facilis harum illum ipsam magni maxime modi necessitatibus nemo nostrum odio officia officiis optio placeat quam quasi quibusdam quidem quis quos repellat sequi sunt tempora veritatis voluptas voluptatum! Accusantium adipisci amet aperiam deleniti, deserunt fuga fugit libero nam, qui ratione tempore vero voluptates voluptatibus. Impedit, mollitia nihil. Atque, eaque maiores. Aliquam, beatae consequatur cumque esse ex exercitationem inventore ipsa itaque minus molestias obcaecati pariatur quam, reprehenderit sequi ullam, ut voluptatem. Ab, beatae consectetur dicta distinctio doloremque doloribus eum minus neque omnis, quae quaerat quam quidem ut velit voluptatibus! Amet earum laudantium nesciunt repellat sapiente voluptatibus? Ad cum dolorem enim esse incidunt omnis repudiandae temporibus totam voluptas. A, aliquid at, consequuntur cupiditate dolore dolorem ea eos est et explicabo in labore numquam obcaecati odio placeat quam quia reiciendis reprehenderit rerum sapiente sed sequi sunt ut, vel vitae voluptatem voluptatum. Accusantium cupiditate deserunt dicta mollitia nihil nisi repellendus. In?

append scripts
  script(src="/javascripts/script.js")